<div class="jumbotron">
  <div class="container">
	  <div class="row">
		  <div class="col-md-8">
			  <h1>Receipt Smart</h1>
			  <h2>The fastest, most efficient receipt organization application out there. Get started in 3 simple steps today!</h2>	
			  <% if logged_in? %>
          		  <%= link_to "Profile", current_user, class: 'btn btn-primary' %>
		      <% else %>
		      	  <%= link_to "Sign up", signup_path, class: 'btn btn-primary' %>
		          <%= link_to "Log in", login_path, class: 'btn btn-primary' %>
		      <% end %>
		  </div>
	  </div>
  </div>
</div>
<div class="container">
	<div class="row first">
		<div class="col-md-4">
			<h2>Download</h2>
			<div class="icon-container"><i class="fa fa-download fa-5x"></i></div>
		</div>
		<div class="col-md-4">
			<h2>Scan</h2>
			<div class="icon-container"><i class="fa fa-flash fa-5x"></i></div>
		</div>
		<div class="col-md-4">
			<h2>Manage</h2>
			<div class="icon-container"><i class="fa fa-folder-open fa-5x"></i></div>
		</div>
	</div>
	<hr>
	<div class="row second">
		<div class="col-md-8">
			<h2>Choose the plan that's right for you.</h2>
			
		</div>
	</div>
</div>
